<% content_for :crumb do %>
	<li>All domains</li>
<% end %>

<div class="details">
  <h1>Domains</h1>
  <p>Nunc sit amet nunc. Curabitur accumsan. Sed ac dui et nunc bibendum ultricies. Duis felis odio, egestas vitae, rhoncus sed, luctus dapibus, eros. Proin placerat luctus lorem. Ut mi justo, malesuada at, mattis nec, rutrum commodo, odio. Curabitur feugiat mi vel mi.</p>
  <p>Select a domain from the list below</p>
  <h3>Available domains</h3>	
  <%= list(@domains, "domains", "domain_url") %>
  <br />
</div>