<% content_for :crum do %>
	» <%= link_to "All domains", domains_url() %> » <%= @domain.name.to_s.capitalize %> details
<% end %>

<h1>Domain: <%= @domain.name %></h1>
<br />
<h3>Available Services</h3>
<ul>
<% @services.each do |service| %>
	<li>- <%= link_to service.name, domain_service_url(@domain, service)%></li>
<%end%>
</ul>
<br />