<h1><%= @domain.name %></h1>
<span id='crum'>» <%= link_to "all domains", domains_url() %> » <%= @domain.name %> details</span><br />
<br />
<h3>Available Services</h3>
<% @services.each do |service| %>
	- <%= link_to service.name, domain_service_url(@domain, service)%>	<br />
<%end%>

<br />