<div id='links' class='ui-helper-reset ui-widget-content ui-corner-top ui-corner-bottom'>
	<h3>Links</h3>
	<ul>
	 <li class='ui-corner-all'><%= link_to("Github project", "http://github.com/BramBo/detego", :title => "Detego github")  %></li>
	 <li class='ui-corner-all'><%= link_to("Lighthouse", "http://app_container.lighthouseapp.com/dashboard", :title => "Post/View bug report(s)")  %></li>
	 <li class='ui-corner-all'><%= link_to("Kabisa", "http://www.kabisa.nl/", :title => "Visit Kabisa ICT")  %></li>
	</ul>	
 </div>