<div class='search_box'>
	<img src='/images/lookup.png' alt='Search!' title='Search for domains and services' />
	<input type='text' value='Search..' autocomplete="off" class='ui-corner-all' />
</div>